<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Road n stays</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap" rel="stylesheet"> -->
<link href="http://fonts.cdnfonts.com/css/cosmith" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="http://fonts.cdnfonts.com/css/requited-script-demo" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">

<link href="assets/css/style.css" rel="stylesheet">




<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-center">

    <!-- <h1 class="logo mr-auto">
      <a href="index.html"></a></h1> -->
  <a href="index.html" class="logo mr-auto"><img src="assets/img/road-logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
         <li class="drop-down"><a href="">Services</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
           <!--    <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul> -->
            </li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">Stays</a></li>
        <li><a href="#">Event</a></li>
         <li><a href="#">Packages</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Tour</a></li>

      </ul>
    </nav>

    <a href="#about" class="get-started-btn">SIGN UP</a>

  </div>
</header>

<!-- slider -->
<main id="main">
<section class="user-section" style="padding-top: 100px; background-color: #f6f6f6;">
    <div class="container">
<div class="row">
 <div class="col-md-12">
   <div class="portfolio-item row">
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light"> 
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light"> 
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
         
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
               <a href="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="https://images.trvl-media.com/hotels/12000000/11960000/11958700/11958666/36a7bd6e.jpg?impolicy=resizecrop&rw=297&ra=fit" alt="">
               </a>
            </div>
         </div>


 </div>



<div class="outersec">
        <div class="left-col">

          <div class="right-col">
            <div class="inner">
                <ul>
                    <li>
                        <a href="" class="sc-sp-list">Overview</a>
                    </li>
                    <li>
                        <a href="#" class="sc-sp-list">Rooms</a>
                    </li>
                    <li>
                        <a href="#" class="sc-sp-list">Location</a>
                    </li>
                    <li>
                        <a href="#" class="sc-sp-list">Amenities</a>
                    </li>
                    <li>
                        <a href="#" class="sc-sp-list">Policies</a>
                    </li>
                    <li>
                        <a href="#" class="sc-sp-list">Reviews</a>
                    </li>
                  
                </ul>
            </div>
        </div>
            <div class="inner">
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 1</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 2</p>
                    <div class="data">
                      took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was 
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 3</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                      
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 4</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 5</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                    
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 6</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the sed in the 1960s with the release of Letraset sheets publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 7</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the    
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 8</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was ageMaker including
                        versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 9</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and  but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and 
                    </div>
                </div>
                <div class="header-div">
                    <p class="heading sc-sp-data-dis">list item 10</p>
                    <div class="data">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                    </div>
                </div>
            </div>
        </div>
        
    </div>




 </div>
</div>
</div>
  </section>


 
  
</main><!-- End #main -->



<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-3 footer-links">
          <div class="footer-info">
            <h4>ROAD N STAYS</h4>
           
             <ul>
            <li> <a href="#">About Us</a></li>
            <li> <a href="#">Business</a></li>
            <li> <a href="#">Leisure</a></li>
            <li> <a href="#">Student</a></li>
            <li> <a href="#">Religion</a></li>
             <li> <a href="#">Pre / post booking</a></li>
              <li> <a href="#">Premises support through scouts</a></li>

          </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Explore</h4>
          <ul>
            <li> <a href="#">Weather</a></li>
            <li> <a href="#">Packages</a></li>
             <li> <a href="#">Blogs</a></li>
              <li> <a href="#">Guest Houses </a></li>
               <li> <a href="#">Business Advantage</a></li>
            </ul>
        </div>

       

        <div class="col-lg-3 col-md-3  footer-links">
          <h4>Terms and policies</h4>
         <ul>
            <li> <a href="#">Privacy statement</a></li>
            <li> <a href="#">Terms of use</a></li>
            
            </ul>
        </div>

         <div class="col-lg-3 col-md-3 footer-links">
          <h4>Help</h4>
          <ul>
            <li> <a href="#">Supports</a></li>
            <li> <a href="#" style="line-height: 24px;">Cancel your hotel or vaca-
tion rental booking</a></li>
            <li> <a href="#">Cancel your Trip</a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <div class="copyright">
      &copy; Copyright <strong><span>RoadNstays</span></strong>. All Rights Reserved
    </div></div>
    <div class="col-md-6">
<div class="social-links mt-3 footer-newsletter">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <!--   <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
    </div>
  
  </div>
</footer> 




<script type="text/javascript">
  
    // $('.portfolio-item').isotope({
        //    itemSelector: '.item',
        //    layoutMode: 'fitRows'
        //  });
         $('.portfolio-menu ul li').click(function(){
          $('.portfolio-menu ul li').removeClass('active');
          $(this).addClass('active');
          
          var selector = $(this).attr('data-filter');
          $('.portfolio-item').isotope({
            filter:selector
          });
          return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
          enabled : true
         }
         });
         });
</script>

<!-- Vendor JS Files -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


<script type="text/javascript">
  
  $(function () {
    // ADDING DATA
    (function () {
        var inc = 0;
        $('.sc-sp-data-dis').each(function () {
            $(this).attr('data-scsp', "data" + inc)
            inc++;
        });
    })();
    (function () {
        var inc = 0;
        $('.sc-sp-list').each(function (ev) {
            $(this).attr('data-scsp', "data" + inc)
            inc++;
        });
    })();

    $(window).on("load scroll", function () {
        var windowScroll = $(this).scrollTop();
        $(".sc-sp-data-dis").each(function () {
            var thisOffsetTop = Math.round($(this).offset().top - 30);

            if (windowScroll >= thisOffsetTop) {
                var thisAttr = $(this).attr('data-scsp');
                $('.sc-sp-list').parent().removeClass("active");
                $('.sc-sp-list[data-scsp="' + thisAttr + '"]').parent().addClass("active");
            }
        });
    });

    $('.sc-sp-list').click(function (ev) {
        ev.preventDefault();
        var thisAttr = $(this).attr("data-scsp");
        var scrollTo = $('.sc-sp-data-dis[data-scsp="' + thisAttr + '"]').offset().top;

        $(this).parent().addClass("active").siblings().removeClass("active");

        $(".sc-sp-data-dis").removeClass("active");
        $('.sc-sp-data-dis[data-scsp="' + thisAttr + '"]').addClass("active");

        $('html, body').animate({
            scrollTop: scrollTo - 5
        }, 150);
    });



});
</script>



<script type="text/javascript">
  
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>

<script type="text/javascript">
  
    jQuery(document).ready(function($){
      
  $(".btnrating").on('click',(function(e) {
  
  var previous_value = $("#selected_rating").val();
  
  var selected_value = $(this).attr("data-attr");
  $("#selected_rating").val(selected_value);
  
  $(".selected-rating").empty();
  $(".selected-rating").html(selected_value);
  
  for (i = 1; i <= selected_value; ++i) {
  $("#rating-star-"+i).toggleClass('btn-warning');
  $("#rating-star-"+i).toggleClass('btn-default');
  }
  
  for (ix = 1; ix <= previous_value; ++ix) {
  $("#rating-star-"+ix).toggleClass('btn-warning');
  $("#rating-star-"+ix).toggleClass('btn-default');
  }
  
  }));
  
    
});

</script>


</body>

</html>