/*.package-page {
	background-color: #f2f2f2;
}*/
a:hover {
    color: #126c62;
    text-decoration: none;
}
.info-slides {
    padding-bottom: 0px;
}
.title-h02 h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #126c62;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}
.wcu-block {
    padding: 70px 0px 50px 0px;
}
.wcu-info {
	border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 35px 35px 35px 35px;
}
.best-sell {
    
    padding-bottom: 0px;
    background: #f7f7f7;
}
.sell-list {
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 35px 50px 35px 50px;
}

.t01 {
    padding: 0px;

}
.t01 p {
    text-align: center;
    font-size: 14px;
	    font-weight: 500;
	margin-bottom: 20px;
    line-height: 1.7;
    max-width: 60%;
    margin: 0 auto;
    color: #444444;
}
.t01 h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #126c62;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
	    text-align: left;
    padding: 0px;
	    margin-bottom: 5px;
}
.book-process h4 {
    text-align: center;
    margin-bottom: 15px;
}
.slide-item h3 {
	font-size: 19px;
    line-height: 16px;
    color: #000000;
	text-align: center;
}
.name-lists h6 {
    color: #828282;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    line-height: 1.4;
    font-size: 12px;
    text-align: center;
}
.image-lists img {
    border-radius: 6px;
    overflow: hidden;
    width: 200px;
	height: 255px;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.item-card2-card{
    border-radius: 6px;
}
.image-lists {
    margin-bottom: 20px;
}
.slick-list.draggable {
    margin-left: -15px;
    margin-right: -15px;
}
.list-place .slick-slide > div {
   margin: 0 15px;
}
.list-place .slide-item:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
	box-shadow: 0 20px 30px rgb(0 0 0 / 15%);
}
.list-place .slick-slide {
    padding-top: 15px;
}
.list-place .slide-item {
    cursor: pointer;
}


/*.card-design .container {
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 35px 50px 35px 40px;
    overflow: hidden;
}*/

section.book-process {
    background-image: url(http://themes.pixelstrap.com/rica/assets/images/tour/background/15.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    padding: 60px 0px;
}

.step-bg {
    position: relative;
    margin-top: 50px;
}
.step-bg:before {
    content: "";
    position: absolute;
    left: -0;
    right: -0;
    height: 100%;
    display: block;
    background: url(http://themes.pixelstrap.com/rica/assets/images/icon/step-arrow.png) no-repeat center center;;
}
.step-bg .row {
    margin-left: -50px;
    margin-right: -50px;
}
.step-bg .row > div {
    padding-left: 50px;
    padding-right: 50px;
}
.step-box {
    position: relative;
    padding: 45px 35px 45px;
    -webkit-box-shadow: 0 15px 39px 0 rgb(8 18 109 / 8%);
    box-shadow: 0 15px 39px 0 rgb(8 18 109 / 8%);
    background-color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.step-bg .step-box img {
    width: 60px;
    margin-bottom: 20px;
}
.step-box h4 {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: -3px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.3;
    font-size: 14px;
}
.step-bg .row > div:nth-child(2), .step-bg .row > div:nth-child(4) {
    margin-top: 30px;
}
.step-bg .row > div:nth-child(1), .step-bg .row > div:nth-child(3) {
    margin-bottom: 30px;
}
.step-box:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.separator01:after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 85px;
    background: #126c62;
    border-radius: 5px;
    margin-bottom: 5px;
}
p.sub-txt {
    text-align: left;
    max-width: initial;
}
.visa-place {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hot-category {
    padding-bottom: 70px;
}

.tags-info {
    border-radius: 6px;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 35px 35px 35px 35px;
}
.text-tag {
    margin-left: 15px;
    line-height: 15px;
}
.text-tag h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
}
.text-tag a {
    font-size: 11px;
}
.img-cir img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #f2f2f2;
}
.m-btm {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tags-place {
    padding-bottom: 70px;
    padding-top: 30px;
}




@media screen and (max-width: 767px) {
.t01 p {
    max-width: 100%;
    margin: auto;
}


.step-bg .row > div:first-child {
    margin-top: 0;
}
.step-bg .row > div:nth-child(1), .step-bg .row > div:nth-child(3) {
    margin-bottom: 0;
}
.step-bg .row > div:nth-child(2), .step-bg .row > div:nth-child(4) {
    margin-top: 20px;
}
.step-bg .row > div {
    margin-top: 20px;
}
.step-bg {
    margin-top: 20px;
}
.wcu-info {
	padding: 35px 15px 35px 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.tags-info {
    margin-left: 0px;
    margin-right: 0px;
    padding: 35px 15px 35px 15px;
}
.list-place .slick-slide > div {
    margin: 0 6px;
}
.social-links {
    text-align: center;
    margin-top: 10px;
}
.wcu-info .icon-bar {
    display: inline-block;
	margin: 15px auto;
}
.wcu-info .text-sut {
    margin-left: 0px;
}
.wcu-info .price-text-d {
    display: inline-block;
}
}

@media (max-width: 991px){
.step-bg .row > div {
    padding-left: 15px;
    padding-right: 15px;
}
}

@media (max-width: 1199px){
.step-bg .row {
    margin-left: -15px;
    margin-right: -15px;
}
.image-lists img {
	width: 100%;
	height: 200px;
}
}


/*15-June-2022*/
.tour-body .owl-carousel {
    display: block;
}

.tour-body .owl-carousel .item{
      left: 0 !important;
    right: 0;
    padding: 10px;
}
.tour-body .owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.tour-body .owl-carousel .item {
    margin: 3px;
}

.tour-body .owl-carousel{
    margin-bottom:15px;
}
.tour-body .owl-carousel.owl-drag .owl-item .item .card {
    overflow: hidden;
}
.tour-body .item-card2-img {
    position: relative;
    overflow: hidden;
}
.tour-body .item-card2-img:before {
    background: rgba(113, 103, 255, 0);
}
.tour-body item-card2-img:before {
    overflow: hidden;
}
.tour-body .owl-carousel .owl-item img {
    display: block;
}
.tour-body .item-card2-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.tour-body .cover-image {
    background-size: cover !important;
    position: relative;
    width: 100%;
}

.tour-body .card-body> :last-child {
    margin-bottom: 0;
}
.tour-body .text-dark {
    color: #312d65 !important;
}
.tour-body .item-card2-text h4 {
    font-size: 18px;
	color: #000000;
}
.tour-body .item-card2-desc i {
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    width: 30px;
    height: 30px;
    color: #126c62;
    background: #ededed;
    line-height: 30px;
    border-radius: 50%;
}
.tour-body .item-card2-desc {
    font-size: 0.875rem !important;
}
.tour-body h4.mb-2 {
    font-size: 1.125rem;
	color: #126c62;
}
.tour-body h2.mb-0.font-weight-bold {
    font-size: 16px;
    color: #126c62;
}
.tour-body .price-box {
    padding-left: 30px!important;
	/*border-left: 1px solid #126c62!important;*/
}
.tour-body .item-card2-desc {
    font-size: 13px;
}
.grid-margin {
    padding: 0px;
}
.tour-body .card-footer {
    background: #126c62;
    color: #ffffff;
    font-weight: 700;
}
.tour-body .card-footer:hover {
    color: #ffffff;
}

.tour-body .btnrating {
    background: none;
    padding: 0px;
}
.tour-body .btnrating i {
    background: none;
    width: auto;
    color: #ffb609;
}
.dtl-t01 {
    margin-top: 0px !important;
    align-items: center;
}


.best-plc .item-card {
    border-radius: 0.3125rem;
    box-shadow: 5px 4px 12px 4px rgb(79 37 225 / 3%);
    overflow: hidden;
}
.best-plc .item-card-desc {
    position: relative;
}
.best-plc .item-card .item-card-desc:before {
    background: rgba(113, 103, 255, 0.1);
}
.best-plc .item-card .item-card-desc:before {
    border-radius: 0.3125rem;
}
.best-plc .item-card .item-card-desc:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.best-plc .card-image-set {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 8px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e4f0;
    box-shadow: 5px 4px 12px 4px rgb(79 37 225 / 3%);
    margin-bottom: 1.5rem;
    width: 100%;
}

.best-plc .card-img {
    width: 100%;
    border-radius: calc(3px - 1px);
    height: 100%;
    flex-shrink: 0;
}
.best-plc .item-card .item-card-desc img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
}
.best-plc .card-img img {
    border-radius: 5px;
}
.best-plc .item-card .item-card-desc .item-card-text {
    position: absolute;
    left: 0px;
    color: #fff;
    bottom: 0px;
    z-index: 2;
    right: 0px;
    padding: 20px;
    transition: all .5s;
}
.best-plc .item-card .item-card-desc:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.best-plc .item-card-text h4 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600 !important;
}
.best-plc {
    padding-top: 35px;
    padding-bottom: 70px;
}
.best-plc .btnrating i {
    color: #ffb609;
}
.best-plc .btnrating {
    background: none;
    width: auto;
    color: #ffb609;
    padding: 0px;
}

.package-coming {
	background: #f7f7f7;
	    padding-top: 35px;
}
.mid-block {
    background: #f9f9f9;
    padding: 15px 10px;
}
.btm-info .item-card2-desc {
    padding: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: initial;
}
.tour-body .owl-dots{
    display: none;
}
.tour-package{
    padding-bottom: 0;
}


/*Single Tour Details Page*/

.tour-details-page {
    overflow: hidden;
}
.tour-single-section {
   /* background-image: url(../img/spain4.jpg);*/
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: block;
    height: 450px;
    position: relative;
    overflow: hidden;
	margin-top: 50px;
}
.tour-title-section {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(231, 56, 39, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(231, 56, 39, 0) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.tour-details-page {
    overflow: hidden;
}
.tour-name {
    padding: 40px 0;
    display: flex;
	align-items: center;
}
.top {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 11px;
}
.top h2 {
    color: white;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 28px;
}
.rating-tour {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rating-tour .btnrating {
    padding: 0px;
    background: none;
}
.rating-tour .btnrating i {
    color: #ffb609;
}
.rating-tour #rating-ability-wrapper {
    margin-bottom: 0px !important;
}
.rating-tour .btnrating {
    padding: 0px;
    background: none;
}
.rating-tour .btnrating i {
    color: #ffb609;
}
.rating-tour #rating-ability-wrapper {
    margin-bottom: 0px !important;
}
.share-buttons .btn {
    padding: 4px 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-left: 10px;
    color: #000000;
	    font-size: 14px;
    background-color: #f9f9f9;
}
.left-part p {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.facility-detail {
    margin-top: 10px;
    margin-bottom: -9px;
}
.facility-detail a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.5s;
}
.facility-detail a:hover {
background: #126c62;
color: #FFF;
    }

.facility-detail span + span {
    margin-left: 10px;
}
.right-part {
    margin-left: auto;
    text-align: right;
}
h2.price {
    font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: white;
    line-height: 10px;
}
h2.price span {
    font-size: 16px;
}
.right-part a.book-btn {
    background-color: #98d55d;
   /* -webkit-box-shadow: 1px 11px 20px 0px rgb(239 63 62 / 12%);
    box-shadow: 1px 11px 20px 0px rgb(239 63 62 / 12%);*/
    border-radius: 100px;
    color: #ffffff;
    padding: 8px 24px !important;
    text-transform: capitalize;
}

/*Tabs*/

.info-tours {
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: #f9f9f9;
}
.menu-top {
    box-shadow: 0 2px 4px 0 #dedede;
    margin-top: 0;
    margin-bottom: 35px;
    padding: 0;
    background-color: transparent;
}
.menu-top .nav-tabs {
    margin-bottom: 15px;
    background-color: white;
    border-bottom: none;
    padding: 0px;
}
.nav-item.active {
    border: none;
    border-bottom: 2px solid #ef3f3e;
    color: #ef3f3e;
}
li.nav-item {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.info-tours .description-section .menu-top li a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500 !important;
    padding: 15px 8px !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
	font-size: 13px;
	margin-right:0px;
}
.description-section {
    background: #FFFF;
    border: 1px solid #d6eeed;
}
.description-section.tab-section .menu-top .nav-tabs .nav-item.active {
    border: none;
    border-bottom: 2px solid #126c62;
    color: #126c62;
	background: #126c62;
}
.description-section.tab-section .menu-top .nav-tabs .nav-item .nav-link {
    border: none; 
}

.description-section .menu-top li.active a {
    font-weight: 700 !important;
    color: #ffffff !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.description-section a.nav-link {
    color: #000000 !important;
    font-weight: 500 !important;
}

.description-section .description-details .menu-part {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 4px 0 #dedede;
    box-shadow: 0 2px 4px 0 #dedede;
}
.description-details .menu-part.about-tour .about-sec p {
    color: #000000;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 10px;
}
.info-locat p{
    padding: 7px;
}
.description-details .menu-part.about-tour .about-sec h4 {
    font-weight: 700;
    font-size: 18px;
    color: #126c62;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-transform: capitalize;
}
.description-details .menu-part.about-tour .about-sec ul {
    padding-left: 25px;
	    margin-bottom: 0px;
}
.description-details .menu-part.about-tour .about-sec ul li {
    list-style-type: square;
    display: list-item;
    text-transform: capitalize;
    color: #000000;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;
}
.description-details .menu-part.about-tour .detail-img {
    margin: 20px 0;
}
.description-details .menu-part.about-tour .about-sec h6 {
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
}
.description-section .menu-top.sticky {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 1px 3px 20px 0px rgb(0 0 0 / 10%);
    box-shadow: 1px 3px 20px 0px rgb(0 0 0 / 10%);
    margin-top: 0;
    padding: 16px 0;
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
}

.it-info .panel-default>.panel-heading {
  color: #333;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #d6eeed75;
    border-bottom: 0;
    padding: 15px;
}

.it-info .it-info .panel-default>.panel-heading a {
  display: block;
  padding: 15px 15px;
  background-color: #f9f9f9;
  border-bottom: 0;
  /* padding: 6px; */
  margin-bottom: 0;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.it-info .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.it-info .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.it-info .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.it-info .description-details .content-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
#profile-description .show-more {
    /* width: 690px; */
    color: #126c62 !important;
    position: relative;
    font-size: 12px;
    padding-top: 1px;
    min-height: 25px !important;
    font-weight: bold !important;
    padding: 4px !important;
    text-align: center;
    background: #c3edeb !important;
    cursor: pointer;
}

#profile-description .show-more:hover {
color: #c3edeb;
    }

    #profile-description .text {
    /* width: 660px; */
    margin-bottom: 5px;
    color: #777;
    padding: 0 0px !important;
   
}

.description-details .content-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: #126c62;
    display: flex;
    align-items: center;
    padding: 10px 3px;
    border-bottom: 1px solid #e3e2ed;
}
.description-section.tab-section .description-details .menu-part {
    margin-top: 0;
}
.it-info .panel.panel-default {
    margin-top: 6px;
}
.it-info h4.panel-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin-bottom: 0px;
}
.it-info .panel-body {
    color: #444444;
    font-size: 14px;
    border: 1px solid rgb(249 249 249);
    padding: 2px 11px;
}
.description-section .description-details .menu-part .accordion-plan {
    position: relative;
}
.panel.panel-default:first-child {
    margin-top: 0px;
}
.highlight li {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
}
.highlight {
    margin-top: 10px;
}
.highlight li img {
    margin-right: 5px;
    width: 18px;
}
.highlight ul {
    padding-left: 0;
}
.description-details .menu-part .zoom-gallery > div:nth-child(-n+3) {
    margin-bottom: 30px;
}

.d_n i {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    width: 25px;
    height: 25px;
    background: #98d55d;
    line-height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.description-section p {
    color: #444444;
    font-size: 14px;
	line-height: 22px;
}
.about-sec ul li {
    list-style-type: square;
    display: list-item;
    text-transform: capitalize;
    color: #000000;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;
}

.about-sec-list-tab ul li {
    display: flex;
    justify-content: space-between;
}
.about-sec-list-tab h4 p {
    font-size: 15px;
    padding: 0;
    color: #5a5a5a;
}
.about-sec-list-tab ul{
        padding-left: 8px !important;
}
.about-sec-list-tab ul li strong {
    font-size: 14px;
}   
.about-sec-list-tab li {
    list-style: none;
    position: relative;
    margin: 15px 0;
    padding-left: 30px;
    display: flex;
    align-items: center;
    line-height: 14px;
}

.about-sec-list-tab li:before {
    content: "";
    font-family: 'IcoFont';
    position: absolute;
    color: #126c62;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0px;
    font-size: 24px;
  
}

.about-sec-list-bank ul{
list-style: none;
}
.about-sec-list-bank ul li{
line-height: 30px;
}
.about-sec-list-bank ul{
    padding: 0px;
    padding-left: 1px;
}
.about-sec-list-bank ul li i {
    border: 1px solid #126c62;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: #d6eeed;
    font-size: 20px;
    background: #126c62;
}
.about-sec-list-bank strong {
    float: right;
    font-size: 14px;
}


/*************************/
.about-sec-list ul li {
    display: flex;
    justify-content: space-between;
}
.about-sec-list h4 p {
    font-size: 15px;
    padding: 0;
    color: #5a5a5a;
}
.about-sec-list ul{
        padding-left: 8px !important;
}
.about-sec-list ul li strong {
    font-size: 14px;
}   
.about-sec-list li {
    list-style: none;
    position: relative;
    margin: 12px 0;
    padding-left: 30px;
    display: flex;
    align-items: center;
    line-height: 22px;
}
/*.about-sec-list li:before {
    box-shadow: 0px 0px 0px 4px rgb(249 104 37 / 40%);
    -webkit-box-shadow: 0px 0px 0px 4px rgb(249 104 37 / 40%);
}*/
.about-sec-list li:before {
    content: "";
    font-family: 'IcoFont';
    position: absolute;
    color: #fff;
    width: 17px;
    height: 17px;
    background: rgb(26 131 119);
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    left: 0;
    top: 2px;
    font-size: 15px;
    box-shadow: 0 0 0 4px rgb(18 108 98 / 36%);
    -webkit-box-shadow: 0 0 0 4px rgb(18 108 98 / 18%);
}
.about-sec-list ul{
    padding-left: 8px;
}
.about-sec ul li {
        padding-left: 18px;
}

.right-part p {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 3px;
    margin-bottom: 11px ;
}
/*SIngle Tour Details Sidebar*/
.card-org {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 8px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid #e5e4f0;*/
    box-shadow: 5px 4px 12px 4px rgb(79 37 225 / 3%);
    margin-bottom: 1.5rem;
    width: 100%;
}
.overflow-hidden {
    overflow: hidden !important;
    background: #D6EEED;
}
.card-org .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-org .card-header {
    background: 0 0;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #b8dbd9;
}
.card-org .card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 600 !important;
    margin-bottom: 0px;
	color: #126c62;
}
.card-org .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 10px 22px;
    position: relative;
}
.item-user .profile-details {
    justify-content: center;
	margin-bottom: 15px;
}
.profile-pic {
    text-align: center;
    position: relative;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
.profile-pic img {
    width: 150px !important;
}
.card-org .card-body> :last-child {
    margin-bottom: 0;
}
.pro-name {
    font-size: 1.125rem;
    font-weight: 600 !important;
}
.item-user .text-muted {
    font-size: 14px;
}
.profile-user-tabs {
    border-top: 1px solid #d6eeed;
    padding: 15px 25px 0 25px;
}
.profile-user-tabs li {
    width: 50%;
    text-align: center;
    margin: auto;
}
.tiktok {
    background-color: #126c62;
    padding: 4px 7px;
    border-radius: 16px;
    line-height: 21px;
    top: -2px;
    position: relative;
}

h6.boking-heading {
    font-size: 16px !important;
    font-weight: normal !important;
}
.payment-heding{
    padding: 5px !important;
}
.payment-heding h3{

}

.profile-user-tabs li a.active {
    color: #ffffff !important;
    background: #126c62 !important;
    border: 1px solid #126c62 !important;
    border-radius: 3px !important;
}
.tabs-menu1 ul li a {
    padding: 10px 20px 11px 20px;
    display: block;
    background: #fff;
    border: 1px solid #126c62 !important;
    border-radius: 5px;
    margin-right: 2px;
}
.profile-user-tabs li a {
    padding: 8px 20px 8px 20px !important;
    font-weight: 500 !important;
}
.cont-tab {
    padding: 0px !important;
}
.details_cont {
    padding: 20px 0px !important;
}
.details_cont h4 {
    font-size: 1.125rem;
    font-weight: 600;
	color: #000000;
}
.details_cont h6 {
    font-size: .875rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
}
.details_cont span i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #126c62;
    text-align: center;
    line-height: 30px;
    margin-right: 10px !important;
	color: #d6eeed;
    font-size: 18px;
}
.about-sec-list h4 {
    padding-top: 12px;
    margin-bottom: 27px;
    float: left;
    width: 100%;
        font-size: 21px;
}
/*.about-sec-list h4{
    padding-top: 15px;
}*/
.details_cont h6 a {
    color: #000000 !important;
}
.details_cont td.font-weight-semibold {
    font-weight: 500 !important;
}
.details_cont .table-bordered td, .table-bordered th {
    border: 1px solid #c9e3e2;
    font-size: 13px;
}
.btns-chats a {
    color: #fff !important;
    background-color: #126c62 !important;
    border-top: 1px solid rgb(18 108 98);
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    line-height: 28px;
}
.btns-combo {
    text-align: center;
    background: none;
}
.tabs-info a.nav-link.active {
    background: #126c62 !important;
    color: #ffffff !important;
}
.btm-info.d_n {
    display: flex;
    vertical-align: middle;
    align-items: baseline;
}
a.tour-type {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background: #98d55d;
    padding: 4px 14px;
    border-radius: 5px;
    margin-left: 10px;
}
.social-info-adv {
    margin-top: 25px;
}
.social-info-adv i {
    font-size: 18px;
    background: #126c62;
    color: #ffffff;
    padding: 5px;
    border-radius: 50px;
}
.toa {
    padding-bottom: 0px !important;
}
.note-info p {
    font-size: 14px;
}
.note-info i {
    font-size: 18px;
    color: #126c62;
}
.social-info-adv h4 {
    margin-bottom: 20px !important;
}
.opr-cont {
    margin-top: 10px;
}
.support-service {
    padding: 1.5rem 1.5rem;
    border: 1px solid #c1e3e1;
    background: #c1e3e1;
}
.support-service i {
    float: left;
    margin-right: 15px;
    font-size: 1rem;
    line-height: 45px;
    width: 45px;
    text-align: center;
    height: 45px;
	font-size: 20px;
    border-radius: 50%;
    color: #ffffff;
    background: rgb(18 108 98);
}
.support-service h6 {
    font-size: 1rem;
    font-weight: 600 !important;
    margin-bottom: 2px;
}
.support-service p {
    font-size: 0.75rem !important;
    padding: 3px 11px;
}
.tour-value {
    margin-bottom: 15px;
}
.tour-value .tour-type {
    margin-left: 0px;
}

.singles_item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.singles_item .icon {
    margin-right: 6px;
    font-size: 39px;
    color: #126c62;
}
.singles_item .info .name {
    font-size: 14px;
    color: #126c62;
    margin: 0;
    line-height: 1;
}
.singles_item .info .value {
    font-size: 14px;
    margin: 0;
    color: #126c62;
    line-height: 16px !important;
    /* width: 100%; */
    padding: 4px 1px;
}
.slide-property-first {
    flex: 1;
    background: #fff;
    margin-bottom: 10px;
}
.slide-property-detail {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.desc-box {
    background: #FFF;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}
.space-category h3.mb-4{
  margin-top: 20px;  
}
.about-property p{
    padding: 0px;
}



@media only screen and (max-width: 768px) and (min-width: 320px)  {
  
  .details_cont {
    padding: 7px 0px !important;
}
.support-service {
    padding: 10px;
    border: 1px solid #c1e3e1;
    background: #c1e3e1;
}
  .card-footer {
    padding: 4px 6px;
    }   
.share-buttons .btn {
   
    margin-left: 3px;
    color: #000000;
}
.profile-user-tabs li {
    margin: auto;
}

.tour-name {
padding: 23px 0;
display: block !important;
align-items: center;
flex-wrap: nowrap !important;
 
 }
 .it-info .panel-default>.panel-heading {
   
    padding: 10px !important;
}
 .about-sec-list ul {
    padding-left: 1px;
}
 .right-part a.book-btn {
   
    padding: 4px 22px !important;
   
}
.it-info .panel.panel-default {
    margin-top: 10px;
}
.singles_item {
    display: flex;
    align-items: center;
    margin: 6px 11px;
}
.desc-box {
background: #FFF;
padding: 7px;
}
.it-info .panel.panel-default {
margin-top: 7px;
}
.about-sec-list h4 {
    padding-top: 9px;
    margin-bottom: 11px;
    float: left;
    width: 100%;
    font-size: 21px;
}
.info-tours {
    padding-top: 25px !important;
}
.about-sec-list ul {
    padding-left: 3px !important;
    text-align: justify;
}
.social-info-adv h4 {
    margin-bottom: 9px !important;
}
 .top {
    display: block;
}
.top h2 {
     font-size: 24px;
    line-height: 28px;
}
.right-part {
    /* margin-left: auto; */
    text-align: left;
    margin-top: 40px;
}
.rating-tour {
    margin-left: 4px;
}
.right-part {
    /* margin-left: auto; */
    text-align: left;
    margin-top: 40px;
  /*  margin-bottom: 35px;*/
}
.right-part a.book-btn {
    
    margin-top: 14px;
}
.card-org .card-header {
   
    padding: 6px 15px !important;
   
}
.details_cont h4 {
  
    margin-bottom: 9px !important;
    margin-top: 13px;
}
    }

.portfolio-menu{
    text-align:center;
}
.portfolio-menu ul li{
    display:inline-block;
    margin:0;
    list-style:none;
    padding:10px 15px;
    cursor:pointer;
    -webkit-transition:all 05s ease;
    -moz-transition:all 05s ease;
    -ms-transition:all 05s ease;
    -o-transition:all 05s ease;
    transition:all .5s ease;
}

.portfolio-item{
    /*width:100%;*/
}
.portfolio-item .item{
    /*width:303px;*/
    float:left;
    margin-bottom:10px;
}

.content-title i {
    border: 1px solid #d6eeed;
    padding: 5px;
    border-radius: 50px;
    /* font-weight: bold; */
    font-size: 21px;
    margin-right: 7px;
}
.sticky-cls-top .card-org .card-header{
padding: 10px 16px;
}
   
