.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    background: #126c62 !important;
    top: 0;
}

.image-gridiv {
    width: 155px;
    overflow: hidden;
    margin-left: 12px;
    border: 1px solid #e9ecef;
    margin-bottom: 11px;
    padding: 5px;
    border-radius: 6px;
    height: 155px;
}
.image-gridiv img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
}
  
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active{
background-color: rgb(6 88 79) !important;

}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #179587 !important;
    color: #fff;
    box-shadow: none;
}
.imageThumb {
    max-height: 97px !important;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    width: 143px !important;
    outline: none;
    border: 1px solid #2a7b72 !important;
}
.btn-dark {
    color: #fff;
    background-color: #126c62;
    border-color: #126c62;
    box-shadow: none;
}
.remove {
    display: block;
    background: #2a7b72 !important;
    border: 1px solid #126c62 !important;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 15px !important;
}
[class*=sidebar-dark-] .sidebar a {
    color: #ffffff !important;
}

/* add hotel form */
    a.add_button {
    background: #13544d;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    top: 7px;
  }
  a.remove_button {
    background: #f90e39;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 7px;
    font-size: 14px;
  }
  a.add_service_button {
    background: #13544d;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    top: 7px;
  }
  a.remove_serv_button {
    background: #f90e39;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 7px;
    font-size: 14px;
}
a.add_custom_button {
    background: #13544d;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    top: 7px;
  }
  a.remove_custom_button {
    background: #f90e39;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 7px;
    font-size: 14px;
}
a.add_attraction_button {
    background: #13544d;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    top: 7px;
  }
a.remove_attraction_button {
    background: #f90e39;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 7px;
    font-size: 14px;
}
.main-footer a{
     color: #126c62;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #126c62 !important;
    border-color: #126c62 !important;
}
.btn-secondary {
    color: #fff;
    background-color: #126c62;
    border-color: #0d6259;
    box-shadow: none;
}
.active .bs-stepper-circle {
    background-color: #126c62 !important;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #126c62;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.breadcrumb-item a{
    color: #126c62;
}
.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 14px;
    font-size: 21px;
    font-weight: bold;
    color: #126c62;
}
.page-link:hover {
    z-index: 2;
    color: #126c62 !important;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #1f7e74 !important;
}
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #1f7e74;
}
.bs-stepper-label {
    display: inline-block;
    margin: 0.25rem;
    color: #126c62;
}
.card-body .table td a{
    color: #FFF;
    font-weight: 700;
}

.card-body.new-color .table td a{
    color: #126c62;
    font-weight: 700;
}