<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Road n stays</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap" rel="stylesheet"> -->
<link href="http://fonts.cdnfonts.com/css/cosmith" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="http://fonts.cdnfonts.com/css/requited-script-demo" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">

<link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-center">

    <!-- <h1 class="logo mr-auto">
      <a href="index.html"></a></h1> -->
  <a href="index.html" class="logo mr-auto"><img src="assets/img/road-logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
         <li class="drop-down"><a href="">Services</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
           <!--    <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul> -->
            </li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">Stays</a></li>
        <li><a href="#">Event</a></li>
         <li><a href="#">Packages</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Tour</a></li>

      </ul>
    </nav>

    <a href="#about" class="get-started-btn">SIGN UP</a>

  </div>
</header>

<!-- slider -->
<main id="main">
<section class="user-section" style="padding-top: 100px; background-color: #f6f6f6;">
    <div class="container">
<div class="row">
   <div class="col-md-12 ">
  <div class="event-locaation mb-4">
    <small><a href="#"> Home </a>/ <a href="#"> Event </a> </small>
    <h3>Hotels in India, Asia</h3>
  </div>

  <div class="hotel-type">
            <form>
              <div class="row">
                <div class="col-md-4 pr-0 h-hotel ">
<span class="span3 form-control-lo"><i class="bx bx-map"></i>
  <input type="location" name="location" placeholder="Destination" class="locatin-hotel"></span>
  </div>
  <div class="col-md-2 pr-0">
<input type="date" name="firstname" placeholder="Event name" class="h-siz">
  </div>
  <div class="col-md-2 pr-0">
<input type="date" name="firstname" placeholder="Event name" class="h-siz">
  </div>
   
   <div class="col-md-2 pr-0">
  <select class="h-siz">
      <option>1 </option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div class="col-md-2 pr-0">
<input type="submit" value="Find" class="hotel-btn pull-right">
  </div>
</div>
  </form>

          </div>
</div>
  <div class="col-md-3">
    <div class="filter-box">
 <h4>Filter </h4>  
  <div class="new-ser">
  <form>
    <div class="form-group-ser">
      <input type="checkbox" id="html">
      <label for="html">Breakfast included</label>
    </div>
    <div class="form-group-ser">
      <input type="checkbox" id="css">
      <label for="css">House</label>
    </div>
    <div class="form-group-ser">
      <input type="checkbox" id="javascript">
      <label for="javascript">All-inclusive plan available</label>
    </div>
  </form>
</div>
</div>

</div>

<div class="col-md-9 gird-event">
 <div class="row pt-3">
 <div class="col-md-12">
  <div class="col-md-12 pro-fund p-0">
    <h2>Goa: 847 Hotel found</h2>
  </div>
  <div class="event-br">
    <div class="img-list-event">
<img src="assets/img/Praia.png">
    </div>
    <div class="tect-event d-flex align-items-start flex-column bd-highlight mb-3">
      <div class="mb-auto w-100">
    <h3>Praia Da Oura - Boutique Resort </h3>
<div class="mb-1 d-flex" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     <span class="field-label-info"></span>
      <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
      </label>
     <!--  <h2 class="bold rating-header" style="">
      <span class="selected-rating">0</span><small> / 5</small>
      </h2> -->
      <button type="button" class="btnrating btn" data-attr="1" id="rating-star-1"><i class='bx bxs-star'></i> </button>
      <button type="button" class="btnrating btn" data-attr="2" id="rating-star-2"><i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="3" id="rating-star-3"><i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="4" id="rating-star-4"> <i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="5" id="rating-star-5"><i class='bx bxs-star'></i></button>
       </div>
<b> Comfiest Beds, Delicous Breakfast </b>
<p class="p-0">
stay at unbetable reates with complimentary breakfast and wi-fi. free stay for kids below 12 year of age.</p>
   </div>

<div class="w-100">
        <div class="time-event-bn">
       <div class="botm-icom">
      <a href="#"><i class='bx bx-wifi'></i> <label>Free Wifi</label> </a>
       <a href="#"><i class='bx bxs-parking'></i>  <label>Free parking</label> </a>
        <a href="#"><i class='bx bx-food-menu'></i>  <label>Restaurant</label> </a>
         <a href="#"><i class='bx bx-rectangle'></i> <label>Room service</label> </a>
          <a href="#"><i class='bx bx-camera-home'></i> <label> Safety measures</label> </a>

         </div>
       <div class="pric-off"> 
        <span>20% Off</span>
        <h5>PKR 125/- </h5>
        <!-- <div><small>+₹400 taxes and charges</small></div> -->
      </div>
       </div>
     </div>


</div>

  </div>



  <div class="event-br">

    <div class="img-list-event">
<img src="assets/img/pany.png">
    </div>
    <div class="tect-event d-flex align-items-start flex-column bd-highlight mb-3">
      <div class="mb-auto w-100">
    <h3>JW Marriott Hotel New Delhi Aerocity </h3>
<div class="mb-1 d-flex" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
     <span class="field-label-info"></span>
      <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
      </label>
     <!--  <h2 class="bold rating-header" style="">
      <span class="selected-rating">0</span><small> / 5</small>
      </h2> -->
      <button type="button" class="btnrating btn" data-attr="1" id="rating-star-1"><i class='bx bxs-star'></i> </button>
      <button type="button" class="btnrating btn" data-attr="2" id="rating-star-2"><i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="3" id="rating-star-3"><i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="4" id="rating-star-4"> <i class='bx bxs-star'></i></button>
      <button type="button" class="btnrating btn" data-attr="5" id="rating-star-5"><i class='bx bxs-star'></i></button>
       </div>
<b> Comfiest Beds, Delicous Breakfast </b>
<p class="p-0">
stay at unbetable reates with complimentary breakfast and wi-fi. free stay for kids below 12 year of age.</p>
   </div>

<div class="w-100">
        <div class="time-event-bn">
       <div class="botm-icom">
      <a href="#"><i class='bx bx-wifi'></i> <label>Free Wifi</label> </a>
       <a href="#"><i class='bx bxs-parking'></i>  <label>Free parking</label> </a>
        <a href="#"><i class='bx bx-food-menu'></i>  <label>Restaurant</label> </a>
         <a href="#"><i class='bx bx-rectangle'></i> <label>Room service</label> </a>
          <a href="#"><i class='bx bx-camera-home'></i> <label> Safety measures</label> </a>

         </div>
       <div class="pric-off"> 
        <span>20% Off</span>
        <h5>PKR 125/- </h5>
        <!-- <div><small>+₹400 taxes and charges</small></div> -->
      </div>
       </div>
     </div>


</div>

  </div>

 </div>


  
  
 </div>


                                             

</div>
  </section>


 
  
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-3 footer-links">
          <div class="footer-info">
            <h4>ROAD N STAYS</h4>
           
             <ul>
            <li> <a href="#">About Us</a></li>
            <li> <a href="#">Business</a></li>
            <li> <a href="#">Leisure</a></li>
            <li> <a href="#">Student</a></li>
            <li> <a href="#">Religion</a></li>
             <li> <a href="#">Pre / post booking</a></li>
              <li> <a href="#">Premises support through scouts</a></li>

          </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Explore</h4>
          <ul>
            <li> <a href="#">Weather</a></li>
            <li> <a href="#">Packages</a></li>
             <li> <a href="#">Blogs</a></li>
              <li> <a href="#">Guest Houses </a></li>
               <li> <a href="#">Business Advantage</a></li>
            </ul>
        </div>

       

        <div class="col-lg-3 col-md-3  footer-links">
          <h4>Terms and policies</h4>
         <ul>
            <li> <a href="#">Privacy statement</a></li>
            <li> <a href="#">Terms of use</a></li>
            
            </ul>
        </div>

         <div class="col-lg-3 col-md-3 footer-links">
          <h4>Help</h4>
          <ul>
            <li> <a href="#">Supports</a></li>
            <li> <a href="#" style="line-height: 24px;">Cancel your hotel or vaca-
tion rental booking</a></li>
            <li> <a href="#">Cancel your Trip</a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <div class="copyright">
      &copy; Copyright <strong><span>RoadNstays</span></strong>. All Rights Reserved
    </div></div>
    <div class="col-md-6">
<div class="social-links mt-3 footer-newsletter">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <!--   <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
    </div>
  
  </div>
</footer> 


<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


<script type="text/javascript">
  
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>

<script type="text/javascript">
  
    jQuery(document).ready(function($){
      
  $(".btnrating").on('click',(function(e) {
  
  var previous_value = $("#selected_rating").val();
  
  var selected_value = $(this).attr("data-attr");
  $("#selected_rating").val(selected_value);
  
  $(".selected-rating").empty();
  $(".selected-rating").html(selected_value);
  
  for (i = 1; i <= selected_value; ++i) {
  $("#rating-star-"+i).toggleClass('btn-warning');
  $("#rating-star-"+i).toggleClass('btn-default');
  }
  
  for (ix = 1; ix <= previous_value; ++ix) {
  $("#rating-star-"+ix).toggleClass('btn-warning');
  $("#rating-star-"+ix).toggleClass('btn-default');
  }
  
  }));
  
    
});

</script>


</body>

</html>